h2 {
    color: red;
}

.subtitle {
    color: blue;
}

li:first-child {
    color: steelblue
}

li:nth-child(2) {
    color: yellow
}

li:only-child {
    color: purple;
}

/* Wont work */
td:only-child {
    color: purple
}